<div id="main" class="login-form wrapper">
  <h1>Login</h1>

  <% if flash.has?(:message) %>
    <p class="flash-message">
      <%= flash[:message] %>
      <i class="fa fa-times" aria-hidden="true"></i>
    </p>
  <% end %>

  <form class="ui form" action="/login" method="post">

    <div class="field username">
      <label for="username">Username</label>
      <input id="username" type="text" name="username" placeholder="Username" />
    </div>

    <div class="field password">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="Password" />
    </div>

    <div class="field submit">
      <input class="ui button" type="submit" value="Login">
    </div>

  </form>

</div>
