
<div class="main wrapper">
  <h1>My Books</h1>

  <% all_shelf = @user.shelves.find_by(title: 'all') %>
  <% if all_shelf && all_shelf.books.size > 0 %>

    <div class="ui tabular menu">
      <div id="all-link" class="item all-link active" data-tab="tab-name-all">All</div>
      <div id="read-link" class="item read-link" data-tab="tab-name-read">Read</div>
      <div id="reading-link" class="item reading-link" data-tab="tab-name-reading">Reading</div>
      <div id="to-read-link" class="item to-read-link" data-tab="tab-name-to-read">To read</div>
    </div>
    <div id="all-tab" class="ui tab all-tab active" data-tab="tab-name-all">
      <%= erb :'/partials/_all_tab' %>
    </div>
    <div id="read-tab" class="ui tab read-tab" data-tab="tab-name-read">
      <%= erb :'/partials/_read_tab' %>
    </div>
    <div id="reading-tab" class="ui tab reading-tab" data-tab="tab-name-reading">
      <%= erb :'/partials/_reading_tab' %>
    </div>
    <div id="to-read" class="ui tab to-read-tab" data-tab="tab-name-to-read">
      <%= erb :'/partials/_to_read_tab' %>
    </div>
  <% else %>
    <p>No books found!</p>
  <% end %>
</div>
