/* General app styles */

body .wrapper,
.ui.secondary.pointing.menu,
footer {
  width: 760px;
  margin: 0 auto;
}

.main {
  min-height: calc(100vh - 175px);
}

.main,
footer {
  padding: 24px 32px;
}

header {
  border-bottom: 2px solid rgba(34,36,38,.15);
}


/* menu/nav bar */
.ui.secondary.pointing.menu {
  border-bottom: 0;
}

.ui.secondary.pointing.menu .item {
  padding: .78571429em .92857143em;
}

.ui.menu .menu {
  margin-right: 16px;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}


/* login/signup forms */
.main.login-form,
.main.signup-form {
  padding-top: 8.0em;
}

.login-form .ui.form,
.signup-form .ui.form {
  max-width: 60%;
  margin: 0 auto;
}

.ui.form .field {
  margin-bottom: 1.2em;
}

.ui.form .field:last-child {
  margin-bottom: 2.0em;
}

.signup-form .ui.form .field.password {
  margin-bottom: 0.8em;
}

.signup-form .ui.form .field.terms,
.login-form .ui.form .field.password {
  margin-bottom: 3.2em;
}

.ui.form .ui.button {
  width: 100%;
}

.ui.button {
  border-radius: 1.4rem;
  font-size: 1.2em;
}

.ui.button {
  background-color: white;
  border: 1px solid rgba(34,36,38,.15);
}

.ui.icon.input i[type=submit] {
  -webkit-appearance: none;
}

.ui.button:hover,
.ui.button:active,
.ui.button:focus {
  background: #F5F8FA;
}


/* search form */

.ui.item.search-form {
  padding-right: 3.4em !important;
}

.ui.item.search-form .ui.icon.input input[type="submit"] {
  padding-right: 1.0em !important;
  margin-left: 0.2em;
  width: auto;
}

/* save book form */
.save-book-form .ui.button {
  padding: 11px 11px;
  font-size: 14px;
  line-height: 14px;
  border-radius: 4px;
}

/* flash message */
.flash-message-wrapper {
  margin-bottom: 1.0em;
  font-size: 1.4em;
  text-align: center;
}

.book-wrap .flash-message-wrapper {
  text-align: left;
}

a.close {
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 22px;
  font-size: 46px;
  margin-left: 4px;
  vertical-align: sub;
}


/* book list item */

.ui.small.image {
  width: 65px;
}

.ui.selection.dropdown {
  min-width: 11em;
}

.book-list {
  width: 700px;
}

.book-list .book-wrap {
  margin-bottom: 2.0em;
  padding-bottom: 2.0em;
  border-bottom: 1px solid;
  border-color: rgba(181,181,181,0.40);
}

.book-list .book-image {
  margin-right: 0.8em;
}

.book-list .book-info p {
  margin-bottom: 0;
}

.book-list .book-info p.book-title {
  font-weight: 400;
  max-width: 410px;
}

.book-list .book-info p.book-author {
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

.book-list .book-info p.book-rating {
  font-size: 1.0em;
  color: #888;
}

.ui.default.dropdown:not(.button)>.text,
.ui.dropdown:not(.button)>.default.text {
    color: rgba(101,101,101,.87);
}

/* Typography */
body,
h1,h2,h3, h4, h5, h6,
li, p,
textarea,
.ui.button,
.ui.menu  {
  font-family: 'Dosis', Helvetica, Arial, sans-serif !important;
  font-weight: 300;
}

.ui.form .field > label,
.ui.menu .item {
  font-weight: 300;
}

.ui.button {
  font-weight: 400;
}

p,
header .menu .item {
  font-size: 1.4em;
}

header h1 a {
  font-size: 1.2em;
  font-weight: 500;
}

.ui.form .field > label,
.ui.form textarea,
.site-info p,
form input {
  font-size: 1.2em;
}

h1 {
  margin-bottom: 1.0em;
}

.menu h1 {
  margin-bottom: 0;
}

.signup-form h1,
.login-form h1 {
  text-align: center;
}

li a {
  text-decoration: none;
}


/* helper classes */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1; /* ie 6/7 */
}

.left {
  float: left;
}

.right {
  float: right;
}
