<div class="main wrapper">


  <!-- <% if flash[:alert] %>
    <div class="flash-message-wrapper">
      <%= flash[:alert] %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %> -->

  <h2>Book shelves</h2>

  <p>Filtered tabs used to display shelves. . .</p>
  <p>all</p>
  <p>read</p>
  <p>to read</p>
  <p>reading</p>

</div>
