<div class="main wrapper">
  <!-- list all books -->
    <% if @books.size == 0 %>
      <p class="no-results">No results found, check your spelling and try again</p>
    <% else %>
      <ul class="book-list">
        <% @books.each do |book| %>
          <% @book = book %>
          <%=  erb :'/partials/_book_item' %>
        <% end %>
      </ul>
  <% end %>
</div>
