<div class="main wrapper">
  <!-- list all books -->
    <% if @books.size == 0 %>
      <p class="no-results">No results found, check your spelling and try again</p>
    <% else %>
      <ul class="book-list">
        <% @books.each.with_index(1) do |book, i| %>
          <%= erb :'/partials/_book' %>
        <% end %>
      </form>
      </ul>
  <% end %>
</div>
