<div id="main" class="wrapper">
  <h1>Results:</h1>
  <div class="search-results">
    <p>Title: <%= @book.title %></p>
    <p>Author: <%= @book.author %></p>
  </div>
  <!-- book details plus any reviews and comments -->
</div>
