<div id="main" class="main home wrapper">

  <div class="ui image">
    <img class="ui fluid image" src="/imgs/banner.jpg" alt="banner image">
  </div>

  <h3>Welcome <%= current_user.username %></h3>

  <h3>Some recomendations based on your previous searches</h3>
  <ul class="book-recomendations clearfix">
    <li class="book-recomendation">
      <div class="ui image">
        <img src="/imgs/book-1.jpg" alt="book cover image">
      </div>
      <h2 class="book-title"></h2>
      <p class="book-author"></p>
    </li>
    <li class="book-recomendation">
      <div class="ui image">
        <img src="/imgs/book-2.jpg" alt="book cover image">
      </div>
      <h2 class="book-title"></h2>
      <p class="book-author"></p>
    </li>
    <li class="book-recomendation">
      <div class="ui image">
        <img src="/imgs/book-3.jpg" alt="book cover image">
      </div>
      <h2 class="book-title"></h2>
      <p class="book-author"></p>
    </li>
    <li class="book-recomendation">
      <div class="ui image">
        <img src="/imgs/book-4.jpg" alt="book cover image">
      </div>
      <h2 class="book-title"></h2>
      <p class="book-author"></p>
    </li>
    <li class="book-recomendation">
      <div class="ui image">
        <img src="/imgs/book-5.jpg" alt="book cover image">
      </div>
      <h2 class="book-title"></h2>
      <p class="book-author"></p>
    </li>
    <li class="book-recomendation">
      <div class="ui image">
        <img src="/imgs/book-6.jpg" alt="book cover image">
      </div>
      <h2 class="book-title"></h2>
      <p class="book-author"></p>
    </li>
    <li class="book-recomendation">
      <div class="ui image">
        <img src="/imgs/book-7.jpg" alt="book cover image">
      </div>
      <h2 class="book-title"></h2>
      <p class="book-author"></p>
    </li>
    <li class="book-recomendation">
      <div class="ui image">
        <img src="/imgs/book-8.jpg" alt="book cover image">
      </div>
      <h2 class="book-title"></h2>
      <p class="book-author"></p>
    </li>
  </ul>

</div>
