<div id="main" class="main home wrapper">

  <div class="ui image">
    <img class="ui fluid image" src="/imgs/banner.jpg" alt="banner image">
  </div>

  <h1>Welcome <%= current_user.username %></h1>

  <h2>Some recomendations based on your previous searches</h2>
  <ul class="book-recomendations clearfix">
    <li class="book-recomendation">
      <div class="ui image">
        <img src="/imgs/book-1.jpg" alt="book cover image">
      </div>
      <h3 class="book-title">Foundation</h3>
      <p class="book-author">Isaac Asimov</p>
    </li>
    <li class="book-recomendation">
      <div class="ui image">
        <img src="/imgs/book-2.jpg" alt="book cover image">
      </div>
      <h3 class="book-title">Contact</h3>
      <p class="book-author">Carl Sagan</p>
    </li>
    <li class="book-recomendation">
      <div class="ui image">
        <img src="/imgs/book-3.jpg" alt="book cover image">
      </div>
      <h3 class="book-title">The Caves of Steel</h3>
      <p class="book-author">Isaac Asimov</p>
    </li>
    <li class="book-recomendation">
      <div class="ui image">
        <img src="/imgs/book-4.jpg" alt="book cover image">
      </div>
      <h3 class="book-title">2001, A Space Odyssey</h3>
      <p class="book-author">Arthur C Clarke</p>
    </li>
    <li class="book-recomendation">
      <div class="ui image">
        <img src="/imgs/book-5.jpg" alt="book cover image">
      </div>
      <h3 class="book-title">The Main in the High Castle</h3>
      <p class="book-author">Philip K Dick</p>
    </li>
    <li class="book-recomendation">
      <div class="ui image">
        <img src="/imgs/book-6.jpg" alt="book cover image">
      </div>
      <h3 class="book-title">Second Foundation</h3>
      <p class="book-author">Isaac Asimov</p>
    </li>
    <li class="book-recomendation">
      <div class="ui image">
        <img src="/imgs/book-7.jpg" alt="book cover image">
      </div>
      <h3 class="book-title">Rendezous with Rama</h3>
      <p class="book-author">Arthur C Clarke</p>
    </li>
    <li class="book-recomendation">
      <div class="ui image">
        <img src="/imgs/book-8.jpg" alt="book cover image">
      </div>
      <h3 class="book-title">The Martian Chronicles</h3>
      <p class="book-author">Ray Bradbury</p>
    </li>
  </ul>

</div>
